*.apk
*.ap_
*.dex
*.class
*.o
*.a
*.log

Makefile
config.status
config.log
config.cache
libjulius-config
libjulius-config-dist
libsent-config
libsent-config-dist
.DS_StoreL

bin/
gen/
obj/
libs/armeabi/:
jni/bin/
jni/include/
jni/lib/
jni/man/

local.properties
.settings/
